<template>
  <v-app>
    <v-main>
      <v-container class="pt-10">
        <v-card outlined tile>
          <v-card-title>Test Alert Component</v-card-title>
          <v-card-text>
            <v-container fluid>
              <h4>
                <span class="pr-1 red--text">*</span>
                Message
              </h4>
              <v-text-field
                v-model="textMessage"
                placeholder="Enter Alert Text"
                outlined
              ></v-text-field>
              <v-row>
                <v-col cols="12" md="6">
                  <h4><span class="pr-1 red--text">*</span>Type</h4>
                  <v-radio-group v-model="snackbarType" :mandatory="false">
                    <v-radio value="success" color="success">
                      <template v-slot:label>
                        <div class="success--text pr-1">Success</div>
                      </template>
                    </v-radio>
                    <v-radio value="error" color="red">
                      <template v-slot:label>
                        <div class="error--text pr-1">Error</div>
                      </template>
                    </v-radio>
                    <v-radio value="info" color="info">
                      <template v-slot:label>
                        <div class="info--text pr-1">Info</div>
                      </template>
                    </v-radio>
                    <v-radio value="warning" color="warning">
                      <template v-slot:label>
                        <div class="warning--text pr-1">Warning</div>
                      </template>
                    </v-radio>
                    <v-radio value="empty" color="empty">
                      <template v-slot:label>
                        <div class="empty--text pr-1">Empty</div>
                      </template>
                    </v-radio>
                  </v-radio-group>
                </v-col>
                <v-col cols="12" md="6">
                  <h4>Close Delay (ms)</h4>
                  <v-text-field
                    v-model="closeDelay"
                    outlined
                    hint="Use -1 to keep open indefinitely (0 in Vuetify version < 2.3 )."
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outlined
              color="info"
              :disabled="testAlertDisabled"
              @click="
                $alert.show({
                  message: textMessage,
                  type: snackbarType,
                  autoCloseDelay: closeDelay,
                  mobile: isMobile,
                })
              "
              >Test Alert</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-container>
      <alert />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    textMessage: '',
    snackbarType: null,
    closeDelay: 4000,
    isMobile: false,
  }),
  beforeDestroy() {
    if (typeof window !== 'undefined') {
      window.removeEventListener('resize', this.onResize, { passive: true });
    }
  },
  mounted() {
    this.onResize();
    window.addEventListener('resize', this.onResize, { passive: true });
  },
  computed: {
    testAlertDisabled() {
      if (this.snackbarType) {
        if (this.textMessage.length > 0) {
          return false;
        }
      }

      return true;
    },
  },
  methods: {
    onResize() {
      this.isMobile = window.innerWidth < 600;
    },
  },
};
</script>

<style lang="sass">
$color: rgb(156, 179, 223)

#app
  background-color: $color
</style>
