$primary: #295671;
$primary-lighten-4: #6e8fa7;
$secondary: #339a7f;
$secondary-lighten-1: #a7ffeb;
$secondary-darken-1: #003622;
$success: #4caf50;
$warning: #fb8c00;
$error: #b71c1c;
$info: #2196f3;
$gray-ligten-1: #323222;

$border-radius: 5 * 1px;
