<template>
  <v-snackbar
    v-model="snackbar"
    :color="type"
    :timeout="autoCloseDelay"
    top
    :vertical="vertical"
  >
    <component v-bind:is="type">{{ message }}</component>
    <template v-slot:action="{ attrs }">
      <v-btn dark text v-bind="attrs" @click="snackbar = false">Close</v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import Plugin from '../build.js';
import Info from './Alert/Info.vue';
import Error from './Alert/Error.vue';
import Warning from './Alert/Warning.vue';
import Empty from './Alert/Empty.vue';
import Success from './Alert/Success.vue';

export default {
  components: {
    Info,
    Error,
    Warning,
    Empty,
    Success,
  },
  data() {
    return {
      snackbar: false,
      message: '',
      type: 'empty',
      autoCloseDelay: -1,
      vertical: false,
    };
  },
  methods: {
    show(params) {
      this.snackbar = true;
      this.message = params.message;
      this.type = params.type ? params.type : this.type;
      this.autoCloseDelay = params.autoCloseDelay
        ? params.autoCloseDelay
        : this.autoCloseDelay;
      this.vertical = params.mobile ? params.mobile : this.vertical;
    },
  },
  beforeMount() {
    Plugin.EventBus.$on('show', (params) => {
      this.show(params);
    });
  },
};
</script>

<style></style>
